

.l_main {
    position:absolute;
    top: 10.35%;
    left: 48.75%;
    margin: 0;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

.l_square {position: relative;}
/* .l_square:nth-child(1){margin-left: 0px; background-color: #dfffd2;}
.l_square:nth-child(2){margin-left: 21px; background-color: #b8ff9d;}
.l_square:nth-child(3){margin-left: 42px; background-color: #90ff65;}
.l_square:nth-child(4){margin-left: 63px; background-color: #5fff1f;} */
.l_square span{position:absolute;top:0px;left:0px;height:19px;width:19px;border-radius:2px;background-color:#ff0040}
.l_square span:nth-child(1){top: 0px; background-color: #dfffd2;}
.l_square span:nth-child(2){left: 21px; background-color: #b8ff9d;}
.l_square span:nth-child(3){left: 42px; background-color: #90ff65;}
.l_square span:nth-child(4){left: 63px; background-color: #5fff1f;}

.l_square:nth-child(1) span{-webkit-animation:animsquare1 2s infinite ease-in;animation:animsquare1 2s infinite ease-in}
.l_square:nth-child(2) span{-webkit-animation:animsquare2 4s infinite ease-in;animation:animsquare2 4s infinite ease-in}
.l_square:nth-child(3) span{-webkit-animation:animsquare3 6s infinite ease-in;animation:animsquare3 6s infinite ease-in}
.l_square:nth-child(4) span{-webkit-animation:animsquare4 8s infinite ease-in;animation:animsquare4 8s infinite ease-in}
/* .l_square span:nth-child(1){-webkit-animation-delay:0.00s;animation-delay:0.00s}
.l_square span:nth-child(2){-webkit-animation-delay:0.15s;animation-delay:0.15s}
.l_square span:nth-child(3){-webkit-animation-delay:0.30s;animation-delay:0.30s}
.l_square span:nth-child(4){-webkit-animation-delay:0.45s;animation-delay:0.45s} */

@-webkit-keyframes animsquare1{0%,5%,95%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}30%,70%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare1{0%,5%,95%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}30%,70%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@-webkit-keyframes animsquare2{0%,10%,90%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}35%,65%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare2{0%,10%,90%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}35%,65%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@-webkit-keyframes animsquare3{0%,15%,85%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}40%,60%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare3{0%,15%,85%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}40%,60%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@-webkit-keyframes animsquare4{0%,20%,80%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}45%,55%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare4{0%,20%,80%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}45%,55%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}