body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 40px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-image: url(img/header.jpg);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    width: 154px;
    text-align: center;
    align-items: center;
    padding: 5px;
    border: 3px solid #ffffff;
    border-radius: 5px;
    background-color: #369dff;
}
.logo:hover {
    border: 3px solid #000000;
    border-radius: 5px;
    background-color: #369dff;
}

.logo a {
    font-size: 24px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.logo a:visited {
    text-decoration: none;
}

.title {
    color: #e70004;
}
.title span {
    color: #369dff;
}

.button {
    width: 154px;
    border: 3px solid #ffffff;
    border-radius: 5px;
    background-color: #369dff;
    color: #ffff;
    cursor: pointer;

}

.button:hover {
    width: 154px;
    border: 3px solid #000000;
    border-radius: 5px;
    background-color: #369dff;
    color: #ffff;
    cursor: pointer;
    }

.content{
    border: 5px solid #369dff;
    margin: 20px auto 0;
    width: 89%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #fffff0;
}

.footer {
    color: #369dff;
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-image: url(img/header.jpg);
    padding: 20px;
}

/*Modal window*/
.modal {
    display: none;
    position: fixed;/
    z-index: 1;
    padding-top: 200px;
    left: 38%;
    top: 0;
    width: 400px;
    height: 400px;
}

/* Modal Content */
.modal-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s;
}
.container_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.scroll-content{
    margin-top: 40px;
    margin-bottom: 40px;
}
.doctorList{
    display: none;
    margin: 0 auto;
}

.doctorList h2 {
    display: flex;
    color: #369dff;
    width: 20%;
    margin: 0 auto 20px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-200px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-200px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #3a99ff;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    left: 30%;
    width: 154px;
    border: 3px solid #ffffff;
    border-radius: 5px;
    background-color: #369dff;
    color: #ffff;
    cursor: pointer;
}

.modal-footer:hover {
    width: 154px;
    border: 3px solid #000000;
    border-radius: 5px;
    background-color: #369dff;
    color: #ffff;
    cursor: pointer;
}

#doctors {
    font-size: 20px;
}
/*card*/
.note {
    display: none;
    flex-direction: column;
    background-color: #4E79BA;
    border: 1px solid #000000;
    width: 224px;
    height: 254px;
}
.note button {
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    width: 14%;
    height: 14%;
    cursor: pointer;
    background-color: #df2134;
}

.note button:hover {
    border: 3px solid #000000;

}

.note p {
    font-size: 14px;
}

pre {
    white-space: pre-wrap;
}

.card_block{
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 10%;
    height: 92%;
}

#doctorCard{
    background-color: #df2134;
    height: 11%;
}
.showmore {
    cursor: pointer;
    font-weight: bold;
}

.dentist {
    flex-direction: column;
    background-color: #4E79BA;
    border: 1px solid #000000;
    width: 150px;
    height: 250px;
}

.therapist {
    flex-direction: column;
    background-color: #4E79BA;
    border: 1px solid #000000;
    width: 150px;
    height: 250px;
}

.cardiologist {
    flex-direction: column;
    background-color: #4E79BA;
    border: 1px solid #000000;
    width: 150px;
    height: 250px;
}
